# Ignore virtual environment
venv/
env/

# Ignore Python bytecode
*.pyc
*.pyo
__pycache__/

# Ignore Django database
db.sqlite3

# Ignore Django migrations
*/migrations/

# Ignore static files collected by Django
static/

# Ignore sensitive files
.env

# Ignore node_modules
node_modules/

# Ignore build files
build/
dist/

# Ignore log files
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor configuration
.vscode/
.idea/
*.swp
